                 **Data Types and Structures Questions**

1.What are data structures, and why are they important?
--
Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.
important: Choosing the right data structure significantly impacts the efficiency and performance of your program.
Well-chosen data structures can:
Simplify data manipulation (adding, removing, modifying elements)
Optimize searching and sorting operations
Conserve memory usage

2.Explain the difference between mutable and immutable data types with examples
--
Mutable Data Types
Definition: Objects whose value can be changed after creation.

Examples: list, dict, set, bytearray

Immutable Data Types
Definition: Objects whose value can't be changed after creation.

Examples: int, float, str, tuple, bool, frozenset

3.What are the main differences between lists and tuples?
--
lists are mutable but tuples are immutable.

4.in Python Describe how dictionaries store data?
--
Dictionaries store data in key-value pairs using a hash table. Each key is hashed to a memory location where its value is stored.

5.Why might you use a set instead of a list in Python?
--
To store unique elements only.
To perform faster membership tests (in is faster in sets).

6.What is a string in Python, and how is it different from a list?
--
A string in Python is a sequence of characters enclosed within single quotes ('), double quotes ("), or triple quotes (''' / """).

string is mutable but list is immutable
string denote by  (', ")
list denote by  ([ ])

7.How do tuples ensure data integrity in Python?
--
Tuples ensure data integrity by being immutable, predictable, and safe from unintended changes, making them ideal for protecting fixed data in your programs.

8.What is a hash table, and how does it relate to dictionaries in Python?
--
A hash table is a data structure that maps keys to values using a hashing function.
In Python, a dictionary is implemented as a hash table internally.
It allows fast retrieval (average O(1) time) using keys.

9.Can lists contain different data types in Python?
--

 Yes, lists in Python can store multiple data types (e.g., integers, strings, floats, other lists).

10.Explain why strings are immutable in Python?
--
Improve performance (safe to cache and reuse).
Allow hashing (for use in sets/dictionaries).
Prevent accidental changes during operations.

11.What advantages do dictionaries offer over lists for certain tasks?
--
Fast lookups using keys (O(1) time).
Key-value mapping, which makes data easier to access semantically.
Example: Looking up a student’s grade by name is easier with a dictionary than a list.

12.How do sets handle duplicate values in Python?
--
Sets automatically remove duplicates.

13.Describe a scenario where using a tuple would be preferable over a list?
--
Use a tuple when the data should not change, such as:
Coordinates ((x, y))
Fixed configuration
Dictionary keys

14.How does the “in” keyword work differently for lists and dictionaries?
--
List: Checks if a value exists.
Dictionary: Checks if a key exists (not the value).

15.Can you modify the elements of a tuple? Explain why or why not
--
No, tuples are immutable — once created, you cannot change, add, or delete their elements.

16.What is a nested dictionary, and give an example of its use case?
--
A nested dictionary is a dictionary where values are also dictionaries.
students = {
    "101": {"name": "Alice", "marks": 85},
    "102": {"name": "Bob", "marks": 90}
}

17.Describe the time complexity of accessing elements in a dictionary.
--
Average case: O(1) (very fast, constant time).
Worst case (due to hash collisions): O(n), but rare in practice.

18.In what situations are lists preferred over dictionaries?
--
When order matters and you don’t need key-value pairs.
When data doesn’t have unique identifiers (like a list of items in a cart).
When you need indexed access by position.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
--
Until Python 3.6, dictionaries didn’t maintain insertion order.
Now, they preserve order (since 3.7), but you should not rely on it unless necessary.
Retrieval is done by key, not position — so order isn’t always relevant.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
--
 List:
Retrieval	By index (position)
Speed	O(1) by index
Structure	Ordered collection
Use case	When order matters

 Dictionary:
Retrieval By key (identifier)
Speed	O(1) by key
Structure	Key-value mapping
Use case When fast access by key is needed

In [ ]:
# 1. Create a string with your name and print it
name = "subham das"
print(name)

subham das

In [ ]:
# 2. Find the length of the string "Hello World"
string = "Hello world"
print(len(string))

11

In [ ]:
# 3. Slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
print(string[3:])

hon Programming

In [ ]:
# 4. Convert the string "hello" to uppercase
string = "hello"
print(string.upper())

HELLO

In [ ]:
# 5. Replace "apple" with "orange" in the string "I like apple"
a = "I like apple"
print(a.replace("apple", "orange"))

I like orange

In [ ]:
# 6. Create a list with numbers 1 to 5 and print it
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Append the number 10 to the list [1, 2, 3, 4]
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [ ]:
# 10. Reverse the list [10, 20, 30, 40, 50]
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

list = [10, 20, 30, 40, 50]
print(list[::-1])

[50, 40, 30, 20, 10]
[50, 40, 30, 20, 10]

In [ ]:
# 11. Create a tuple with elements 100, 200, 300 and print it
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [1]:
# 12. Access the second-to-last element of the tuple
tuple = (100,200,300)
print(tuple[-2])

200

In [2]:
# 13. Find the minimum number in the tuple
tuple = (100,200,300,400)
print(min(tuple))

100

In [3]:
# 14. Find the index of the element "cat"
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [4]:
# 15. Check if "kiwi" is in the fruit tuple
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

In [42]:
# 16. Create a set with elements 'a', 'b', 'c' and print it
set3 = {'a', 'b', 'c'}
print(set3)

{'b', 'a', 'c'}

In [41]:
# 17. Clear all elements from the set
set0 = {"c","d","e"}
set0.clear()
print(set0)

set()

In [40]:
from os import remove
# 18. Remove the element 4 from the set
set1 = {1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [12]:
# 19. Find the union of two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [13]:
# 20. Find the intersection of two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.intersection(set2))

{3}

In [14]:
# 21. Create a dictionary and print it
dictionary = {"name":"subham", "age":23, "gender":"male"}
print(dictionary)

{'name': 'subham', 'age': 23, 'gender': 'male'}

In [15]:
# 22. Add a new key-value pair to the dictionary
dictionary = {"name":"subham", "age":23, "gender":"male"}
dictionary["city"] = "kolkata"
print(dictionary)

{'name': 'subham', 'age': 23, 'gender': 'male', 'city': 'kolkata'}

In [17]:
# 23. Access the value associated with the key "name"
dictionary = {"name":"subham das", "age":23, "gender":"male"}
print(dictionary["name"])

subham das

In [19]:
# 24. Remove the key "age" from the dictionary
dictionary = {"name":"subham das", "age":23, "gender":"male"}
dictionary.pop("age")
print(dictionary)

{'name': 'subham das', 'gender': 'male'}

In [20]:
# 25. Check if the key "city" exists
dictionary = {"name":"subham das", "age":23, "gender":"male"}
print("city" in dictionary)

False

In [26]:
# 26. Create a list, tuple, and dictionary, and print them
list = [1,2,3]
tuple = (1,2,3)
dictionary = {"name":"subham das", "age":23, "gender":"male"}
print(list, tuple, dictionary)

[1, 2, 3] (1, 2, 3) {'name': 'subham das', 'age': 23, 'gender': 'male'}

In [29]:
# 27. Create a list of 5 random numbers and sort it

import random
rand_list = random.sample(range(1, 101), 5)
rand_list.sort()
print(rand_list)

[5, 10, 12, 39, 98]

In [30]:
# 28. Create a list with strings and print the element at the third index
string_list = ["apple", "banana", "cherry", "date", "fig"]
print(string_list[3])

date

In [31]:
# 29. Combine two dictionaries into one
dict1 = {"name":"subham das", "age":23}
dict2 = {"gender":"male", "city":"kolkata"}
dict1.update(dict2)
print(dict1)

{'name': 'subham das', 'age': 23, 'gender': 'male', 'city': 'kolkata'}

In [58]:
# 30. Convert a list of strings into a set
del set
string_list = ["apple", "banana", "cherry", "date", "fig"]
string_set = set(string_list)
print(string_set)

{'apple', 'banana', 'date', 'cherry', 'fig'}